# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [2]:
import pandas as pd
import numpy as np

recipes = pd.read_csv('data/recipes_sample.csv')
reviews = pd.read_csv('data/reviews_sample.csv')

In [3]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [4]:
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [5]:
print(len(reviews), len(recipes))

126696 30000

In [6]:
pd.DataFrame.info(reviews)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126696 entries, 0 to 126695
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  126696 non-null  int64
 1   user_id     126696 non-null  int64
 2   recipe_id   126696 non-null  int64
 3   date        126696 non-null  object
 4   rating      126696 non-null  int64
 5   review      126679 non-null  object
dtypes: int64(4), object(2)
memory usage: 5.8+ MB

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [7]:
example = pd.DataFrame(np.random.randint(0, 10, (4, 3)), columns=['A', 'B', 'C'], index=[2, 3, 4, 5])

example_ = example[example > 4]

print(example_.isnull())

print(example_.iloc[0])

       A      B      C
2   True   True   True
3   True  False   True
4   True   True  False
5  False  False   True
A   NaN
B   NaN
C   NaN
Name: 2, dtype: float64

In [8]:
print(recipes.isnull().sum())
nulls = recipes.isnull().sum(axis=1)
len(nulls[nulls > 0])
print(round(len(nulls[nulls > 0]) / len(recipes) * 100, 2))

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
56.85

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [9]:
columns = recipes.columns
recipes_ = recipes.fillna(1)
for column in columns:
    if recipes_[column].dtype != 'object':
        print(f'в столбце "{column}" среднее значение = {round(np.mean(recipes_[column]), 2)}')

в столбце "id" среднее значение = 221879.29
в столбце "minutes" среднее значение = 123.36
в столбце "contributor_id" среднее значение = 5635900.57
в столбце "n_steps" среднее значение = 6.52
в столбце "n_ingredients" среднее значение = 6.64

1.5 Создайте серию из 10 случайных названий рецептов.

In [10]:
random_rows = recipes['name'].sample(n=10)
print(random_rows)

20561               perfect pineapple pie
23536    sauteed red cabbage with raisins
21929                  quick domino slice
14118              horseradish cheese dip
18863                              nshima
28490             valrhona chocolate cake
11677       funfetti cookies from scratch
11317                        french twist
170          3 ingredient sausage squares
21619           puerto rican chicken soup
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [11]:
new_reviews = pd.DataFrame(reviews, index=np.arange(len(reviews))[::-1])
new_reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
...,...,...,...,...,...,...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [12]:
sorted_recipes = recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]
sorted_recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [14]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
print(recipes['submitted'].dtype)

corrected_recipes = pd.read_csv('data/recipes_sample.csv', parse_dates=['submitted'])
corrected_recipes['submitted'].dtype

datetime64[ns]

dtype('<M8[ns]')

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [15]:
recipes_sorted = recipes[recipes['submitted'].dt.year > 2010].sort_values('submitted')
recipes_sorted

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
12177,gluten free yeast free sandwich and hamburger...,445211,30,28177,2011-01-01,15.0,note (10/24/15): i do not recommend this reci...,5.0
13863,homemade ginger cardamom soda with lime,445235,10,37449,2011-01-01,NaN,"this is a good recipe, and can be changed up w...",NaN
6070,chicken with haloumi and honey,445244,35,315565,2011-01-02,5.0,another ? donna hay recipe torn out of a magaz...,6.0
23548,sauteed yam with ginger and lime,445255,50,542159,2011-01-02,8.0,these yams make a nice side to pork.,NaN
7391,cold sesame noodles tyler florence,445486,30,714468,2011-01-03,15.0,from eat this book,16.0
...,...,...,...,...,...,...,...,...
4932,cauliflower ceviche,536547,45,2002234079,2018-07-30,15.0,a healthy ceviche - a perfect appetizer for pa...,8.0
17803,miracle home made puff pastry,536610,35,2002234259,2018-07-31,17.0,puff pastry that you can make in minutes? at h...,NaN
12124,gluten free vegemite,536728,2,1052873,2018-08-11,NaN,gluten free vegemite-like stuff.,3.0
8442,creole watermelon feta salad,536729,10,1052873,2018-08-11,4.0,spicy watermelon salad. from tony chachere's s...,NaN
15938,lemon pom pom cake,536747,210,2002247884,2018-08-15,51.0,"by far one of my most joyous cake creations, t...",20.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [16]:
recipes['description_lenght'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [17]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [18]:
recipes['name_word_count'] = recipes['name'].apply(lambda x: len(x.split()))
recipes = recipes[['name', 'name_word_count', 'id', 'minutes', 'contributor_id', 'submitted', 'n_steps', 'description',
                   'description_lenght', 'n_ingredients']]
recipes

,name,name_word_count,id,minutes,contributor_id,submitted,n_steps,description,description_lenght,n_ingredients
0,George S At The Cove Black Bean Soup,8,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,330.0,18.0
1,Healthy For Them Yogurt Popsicles,5,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,255.0,NaN
2,I Can T Believe It S Spinach,7,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",39.0,8.0
3,Italian Gut Busters,3,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,154.0,NaN
4,Love Is In The Air Beef Fondue Sauces,8,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,587.0,NaN
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,8,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,484.0,10.0
29996,Zwetschgenkuchen Bavarian Plum Cake,4,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",286.0,11.0
29997,Zwiebelkuchen Southwest German Onion Cake,5,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,311.0,NaN
29998,Zydeco Soup,2,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,648.0,NaN
29999,Cookies By Design Cookies On A Stick,7,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",125.0,10.0

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [19]:
counts_by_id = recipes.groupby('contributor_id')['name'].count().reset_index(name='num_recipes')
counts_by_id.sort_values('num_recipes')[::-1]

      contributor_id  num_recipes
1768           89831          421
767            37449          346
781            37779          345
1               1533          186
2739          169430          183
...              ...          ...
5291          448748            1
5292          449014            1
5294          449229            1
5295          449247            1
4201          302190            1

[8404 rows x 2 columns]

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [21]:
srednee = reviews.groupby('recipe_id')['rating'].mean().reset_index(name='mean')
amount = reviews.groupby('recipe_id')['rating'].count().reset_index(name='amount')

merged = srednee.join(amount['amount'])

reviews = reviews.rename(columns={'Unnamed: 0': 'something'})
NaNs = reviews[reviews['review'].isnull()].groupby('recipe_id')['review'].apply(lambda x: len(x)).reset_index(
    name='amount_of_NaN')
NaNs

    recipe_id  amount_of_NaN
0        3662              1
1        9054              3
2       15553              1
3       25190              1
4       86868              1
5       89207              1
6      107786              1
7      128956              1
8      155430              1
9      167202              1
10     245231              1
11     335709              1
12     391660              1
13     522925              1
14     524744              1

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [22]:
reviews['date'] = pd.to_datetime(reviews['date'])
corrected_reviews = reviews.sort_values('date')
corrected_reviews['date'] = corrected_reviews['date'].dt.year
year_freq = reviews.groupby('date')['review'].count().reset_index(name='freq')
year_freq.sort_values('freq')[::-1]

           date  freq
2279 2008-01-27    93
2254 2008-01-02    92
2287 2008-02-04    90
2434 2008-06-30    88
2266 2008-01-14    85
...         ...   ...
5365 2016-07-14     1
5352 2016-06-30     1
105  2001-11-15     1
106  2001-11-16     1
0    2000-06-02     1

[6251 rows x 2 columns]

### Объединение таблиц `pd.DataFrame`

In [23]:
recipes

,name,name_word_count,id,minutes,contributor_id,submitted,n_steps,description,description_lenght,n_ingredients
0,George S At The Cove Black Bean Soup,8,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,330.0,18.0
1,Healthy For Them Yogurt Popsicles,5,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,255.0,NaN
2,I Can T Believe It S Spinach,7,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",39.0,8.0
3,Italian Gut Busters,3,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,154.0,NaN
4,Love Is In The Air Beef Fondue Sauces,8,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,587.0,NaN
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,8,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,484.0,10.0
29996,Zwetschgenkuchen Bavarian Plum Cake,4,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",286.0,11.0
29997,Zwiebelkuchen Southwest German Onion Cake,5,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,311.0,NaN
29998,Zydeco Soup,2,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,648.0,NaN
29999,Cookies By Design Cookies On A Stick,7,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",125.0,10.0

In [24]:
reviews

,something,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [26]:
merged = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')

merged = merged[merged['review'].notnull()]  #удаление строк с нулевыми review

desired_columns = ['id', 'name', 'user_id', 'rating']
merged = merged[desired_columns].sort_values('id')
merged

           id                                        name     user_id  rating
16365      48                            Boston Cream Pie       32421       0
16366      48                            Boston Cream Pie       68674       2
14328      55  Betty Crocker S Southwestern Guacamole Dip      165567       5
14330      55  Betty Crocker S Southwestern Guacamole Dip       53959       4
14331      55  Betty Crocker S Southwestern Guacamole Dip     1060485       5
...       ...                                         ...         ...     ...
36930  536729                Creole Watermelon Feta Salad      226863       4
71115  536747                          Lemon Pom Pom Cake  2001996022       0
71112  536747                          Lemon Pom Pom Cake  2002007477       0
71114  536747                          Lemon Pom Pom Cake  2001285346       0
71113  536747                          Lemon Pom Pom Cake     1460111       0

[126679 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [24]:
connected_dataframe = pd.merge(reviews, recipes, left_on='recipe_id', right_on='id').sort_values('recipe_id')

desired_columns2 = ['recipe_id', 'name', 'review_count']

nulls = connected_dataframe[connected_dataframe['review'].isnull()][desired_columns2[:-1]]
nulls['review_count'] = 0

review_count = connected_dataframe.groupby('recipe_id')['review'].count().reset_index(name='review_count')
connected_dataframe_with_review_count = pd.merge(connected_dataframe, review_count, left_on='recipe_id',
                                                 right_on='recipe_id')

connected_dataframe_with_review_count = connected_dataframe_with_review_count[desired_columns2]._append(
    nulls).sort_values('review_count').drop_duplicates()
connected_dataframe_with_review_count

,recipe_id,name,review_count
110660,524744,Thanksgiving Piecaken,0
85304,3662,German Chocolate Sauerkraut Cake,0
9908,9054,Leftover Mashed Potato Pancakes,0
52497,15553,Clove And Cinnamon Tea,0
102425,25190,Meal In A Bowl Noodle Soup For 1 Double Fo...,0
...,...,...,...
29066,50719,The Sweetest Blueberry Muffins,486
58854,107786,Beth S Melt In Your Mouth Barbecue Ribs Oven,591
69596,135350,Fannie Farmer S Classic Baked Macaroni Cheese,674
46092,82102,Kittencal S Moist Cheddar Garlic Oven Fried Ch...,708
14826,27208,To Die For Crock Pot Roast,1382

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [25]:
connected_dataframe['submitted'] = connected_dataframe['submitted'].dt.year
mean_rating = connected_dataframe.groupby('submitted')['rating'].mean().reset_index(name='mean_rating')
mean_rating.rename(columns={'submitted': 'year_of_recipe'}).sort_values('mean_rating')

    year_of_recipe  mean_rating
18            2017     2.750000
19            2018     3.388889
17            2016     3.538462
16            2015     4.207317
0             1999     4.274895
1             2000     4.284585
14            2013     4.336508
10            2009     4.360447
12            2011     4.375850
9             2008     4.387416
2             2001     4.393945
3             2002     4.404645
11            2010     4.406279
6             2005     4.409687
13            2012     4.412736
7             2006     4.416310
8             2007     4.420073
4             2003     4.439152
5             2004     4.463778
15            2014     4.538235

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [27]:
with pd.ExcelWriter("path_to_file.xlsx") as writer:
    merged.to_excel(writer, sheet_name="recipes_with_rating")
    connected_dataframe_with_review_count.to_excel(writer, sheet_name="amount_of_reviews_on_recipes")

ModuleNotFoundError: No module named 'openpyxl'

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3