In [81]:
#imports
from table_operations.csv_funcs import *
from table_operations.pickle_funcs import *
from table_operations.txt_funcs import *
from table_operations.table_funcs import *

57

In [197]:
#load/save_table_csv
save_table_csv(Table([{"id": 2, "isTrue": True}, {"id": 22, "isTrue": False}, {"id": 3, "isTrue": True}]), "table2.csv")
t = load_table_csv("table2.csv")
print(t[0])

{'id': '2', 'isTrue': 'True'}

In [216]:
#load/save_table_pickle
save_table_pickle(Table([{"id": 2, "isTrue": True}, {"id": 22, "isTrue": False}, {"id": 3, "isTrue": True}]),
                  "table2.pickle")
t = load_table_pickle("table2.pickle")
print(t)

id|isTrue
—————————
2 | True
22|False
3 | True

In [217]:
#save_table_txt
table = load_table_csv("table1.csv")
save_table_txt(table, "file.txt")

In [200]:
#get_rows_by_number

table = load_table_csv("table1.csv")
print(table)
new_table = get_rows_by_number(table, 1, 3, copy_table=False)
print(table)
print(new_table)

id|first_name|age
1 |  masha   | 18
2 |  petya   | 19
3 |  vanya   | 22
4 |    an    | 23
5 |   ser    | 18

id|first_name|age
1 |  masha   | 18
2 |  petya   | 19
3 |  vanya   | 22

id|first_name|age
1 |  masha   | 18
2 |  petya   | 19
3 |  vanya   | 22

In [189]:
#get_rows_by_index
table = load_table_csv("table1.csv")
print(table)
get_rows_by_index(table, '1', '3', '5', copy_table=False)
print(table)

In [210]:
#get_column_types
d = get_column_types(Table([{"id": 2, "isTrue": True}, {"id": 22, "isTrue": False}, {"id": 3, "isTrue": True}]),
                     by_number=False)
print(d)

{'id': <class 'int'>, 'isTrue': <class 'bool'>}

In [302]:
#set_column_types
table = Table([{"id": "2", "isTrue": ""}, {"id": "22", "isTrue": False}, {"id": "3", "isTrue": True}])
# get_values
set_column_types(table, {"id": int, "isTrue": bool}, by_number=False)
print(table.column_types)
data1 = get_values(table)
data2 = get_values(table, column="isTrue")
print(data1)
print(data2)

{0: <class 'int'>, 1: <class 'bool'>}
[2, 22, 3]
[False, False, True]

In [316]:
#get_value
table = Table([{'1': 2, '3': 4}])
print(table)
set_column_types(table, {0: int, 1: int})
print(get_value(table, column='1'))

1|3
---
2|4

2